.DailyFutureForecast {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}
.DailyFutureForecast il {
  padding: 0;
  margin: 0;
}
.DailyFutureForecast img.precipitation {
  max-width: 20px;
  margin: 0;
  padding: 0;
}
.DailyFutureForecast img {
  max-width: 65px;
  margin: 5px;
}
.DailyFutureForecast .highTemp {
  font-size: 18px;
}
.DailyFutureForecast .lowTemp,
.DailyFutureForecast .precipitation {
  font-size: 12px;
  white-space: nowrap;
}
.DailyFutureForecast .day {
  font-size: 16px;
  white-space: nowrap;
}
