:root {
  --search-bar-primary: rgb(19, 128, 196);
}
.Weather .searchBar {
  background-color: #005986;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}
.Weather .search-bar {
  margin: 5px 10%;
}
.Weather form {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--search-bar-primary);
  border-radius: 20px;
  color: white;
  height: auto;
  font-size: 24px;
  margin: 10px;
  padding: 6px;
}
.Weather input {
  background-color: var(--search-bar-primary);
  color: white;
  border: none;
}
.Weather form button {
  color: white;
  background-color: var(--search-bar-primary);
  border: none;
}
.Weather .location-btn {
  border-radius: 20px;
  color: white;
  background-color: var(--search-bar-primary);
  margin: 10px;
  white-space: nowrap;
}
.Weather .units-btn {
  margin: 10px 0;
  white-space: nowrap;
}
.Weather .metric-btn {
  background-color: var(--search-bar-primary);
  color: white;
  border-radius: 20px 0 0 20px;
  padding-right: 0;
  margin-right: 0;
  width: 75px;
  border-right: 1px black solid;
}
.Weather .imperial-btn {
  background-color: var(--search-bar-primary);

  color: white;
  border-radius: 0 20px 20px 0;
  padding-left: 0;
  margin-left: 0;
  width: 75px;
  border-left: 1px black solid;
}
.Weather main {
  position: relative;
  padding: 10px;
}
