.WeatherHero {
  max-width: 550px;
  display: block;
  margin: 30px auto;
  border-radius: 6px;
  background-color: lightblue;
  color: white;
  font-size: 18px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.WeatherHero header {
  background-color: #005986;
  color: white;
  text-align: start;
  border-radius: 6px 6px 0 0;
  padding: 20px;
}
.WeatherHero h1 {
  font-size: 28px;
  text-align: start;
}
.WeatherHero li.currentTemp {
  font-size: 48px;
}
.WeatherHero ul,
.WeatherHero li {
  text-align: start;
}

.WeatherHero img {
  max-width: fit-content;
}
@media (max-width: 576px) {
  .WeatherHero img {
    padding-top: 30px;
  }
}
