.WeatherDetails {
  max-width: 550px;
  display: block;
  margin: 30px auto;
  font-size: 16px;
  padding: 20px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
  color: #005896;
  text-align: start;
}
.WeatherDetails img {
  height: 40px;
  width: auto;
}
.WeatherDetails header {
  background-color: white !important;
  text-align: start !important;
}
.WeatherDetails .container {
  padding: 10px !important;
}
.WeatherDetails main {
  font-weight: 700;
}
.WeatherDetails span {
  font-weight: 400;
}
.WeatherDetails .feelsLike {
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 576px) {
  .WeatherDetails .sunrise,
  .WeatherDetails .sunset {
    height: 30px;
  }
  .WeatherDetails .sun {
    padding: 0px;
    display: flex;
    justify-content: space-around;
  }
}
